

table {
  border-collapse:separate;
  border-spacing: 0 1em;
}


tr.paragraph-row {
  background: #f8f8f8 !important;
  border-radius: 0;
  display: flex;
  margin: 0 0 15px 0;
}
tr.paragraph-row > td {
  width: 100%;
}

tr.paragraph-type--row {
  border-color: #b3b2b2 !important;
  background: #dedede !important;
}
tr.paragraph-type--section {

}
tr.paragraph-type--column {
  background: #fff !important;
  border-width: 0px !important;
  border-radius: 10px !important;
  margin: 0 5px;
}
tr.paragraph-type--column tr.paragraph-row {
  border-radius: 10px;
}

/* paragraph type row */
tr.paragraph-type--row tbody,
.field--name-field-row-content {
  display: flex;
}
.field--name-field-row-content > * {
  width: 100%;
}
tr.paragraph-type--row tbody tbody {
  display: table-row-group;
}
.row-layout--duo__6-6 .paragraph-type--column:nth-child(odd) {
  flex: 1 1 50%;
  max-width: 50%;
}
.row-layout--duo__6-6 .paragraph-type--column:nth-child(even) {
  flex: 1 1 50%;
  max-width: 50%;
}
.row-layout--duo__3-9 tbody .paragraph-type--column:nth-child(odd) {
  flex: 1 1 25%;
  max-width: 25%;
}
.row-layout--duo__3-9 tbody .paragraph-type--column:nth-child(even) {
  flex: 1 1 75%;
  max-width: 75%;
}

.row-layout--duo__9-3 tbody .paragraph-type--column:nth-child(odd) {
  flex: 1 1 75%;
  max-width: 75%;
}
.row-layout--duo__9-3 tbody .paragraph-type--column:nth-child(even) {
  flex: 1 1 25%;
  max-width: 25%;
}

.row-layout--trio__4-4-4 tbody .paragraph-type--column:nth-child(1) {
  flex: 1 1 33%;
  max-width: 33%;
}
.row-layout--trio__4-4-4 tbody .paragraph-type--column:nth-child(2) {
  flex: 1 1 33%;
  max-width: 33%;
}
.row-layout--trio__4-4-4 tbody .paragraph-type--column:nth-child(3) {
  flex: 1 1 33%;
  max-width: 33%;
}

.row-layout--trio__6-3-3 tbody .paragraph-type--column:nth-child(1) {
  flex: 1 1 50%;
  max-width: 50%;
}
.row-layout--trio__6-3-3 tbody .paragraph-type--column:nth-child(2) {
  flex: 1 1 25%;
  max-width: 25%;
}
.row-layout--trio__6-3-3 tbody .paragraph-type--column:nth-child(3) {
  flex: 1 1 25%;
  max-width: 25%;
}

.row-layout--trio__3-6-3 tbody .paragraph-type--column:nth-child(1) {
  flex: 1 1 25%;
  max-width: 25%;
}
.row-layout--trio__3-6-3 tbody .paragraph-type--column:nth-child(2) {
  flex: 1 1 50%;
  max-width: 50%;
}
.row-layout--trio__3-6-3 tbody .paragraph-type--column:nth-child(3) {
  flex: 1 1 25%;
  max-width: 25%;
}

.row-layout--trio__3-3-6 tbody .paragraph-type--column:nth-child(1) {
  flex: 1 1 25%;
  max-width: 25%;
}
.row-layout--trio__3-3-6 tbody .paragraph-type--column:nth-child(2) {
  flex: 1 1 25%;
  max-width: 25%;
}
.row-layout--trio__3-3-6 tbody .paragraph-type--column:nth-child(3) {
  flex: 1 1 50%;
  max-width: 50%;
}

.row-layout--quartet tbody .paragraph-type--column:nth-child(1) {
  flex: 1 1 25%;
  max-width: 25%;
}
.row-layout--quartet tbody .paragraph-type--column:nth-child(2) {
  flex: 1 1 25%;
  max-width: 25%;
}
.row-layout--quartet tbody .paragraph-type--column:nth-child(3) {
  flex: 1 1 25%;
  max-width: 25%;
}
.row-layout--quartet tbody .paragraph-type--column:nth-child(4) {
  flex: 1 1 25%;
  max-width: 25%;
}


/* paragraph type column*/
.paragraph-top--column > .paragraph-info,
.paragraph-top--column > .paragraph-type,
tr.paragraph-type--column > .field-multiple-drag,
.paragraph-top--column > .paragraphs-actions .paragraphs-icon-button-collapse {
  display: none;
}

tr.paragraph-row thead {
  display: none;
}


/* paragraph settings */
.paragraph-settings:not([open]) {
  background: transparent;
  border-color: transparent;
}

/**
  inline editing inside a column (when for e.g. 4 columns are used) gets crowded
  fake a modal window for editing a paragraph inside the column paragraph type
  also remeber to overlay the Collapse (save) button to apply changed and "close" modal
*/
.paragraph-type--column .paragraphs-subform .paragraphs-subform {
  position: fixed;
  top: 20%;
  left: 15%;
  background: white;
  box-shadow: 4px 4px 10px rgba(0,0,0,1);
  border: 1px solid #ccc;
  padding: 30px;
  z-index: 3;
  max-height: 60%;
  width: 70%;
  overflow: auto;
}
.paragraph-type--column .paragraphs-subform .paragraphs-subform:before {
  content: '';
  display: block;
  width: 100%;
  height: 1000%;
  top: 0;
  left: 0;
  position: absolute;
  background: white;
}
.paragraph-type--column .paragraphs-subform .paragraphs-subform:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, .7);
}
.paragraph-type--column .paragraphs-subform .paragraphs-subform > div {
  position: relative;
  z-index: 3;
}
.paragraph-type--column .paragraphs-subform .paragraphs-icon-button-collapse {
  position: fixed;
  top: 20%;
  z-index: 4;
}





/*
previews
*/
.paragraph--type--media.paragraph--view-mode--preview img {
  max-width: 60px;
}
.paragraph--type--media.paragraph--view-mode--preview .field__item {
  float: left;
  margin-right: 5px;
}

.paragraph--type--image.paragraph--view-mode--preview img {
  max-width: 60px;
}








/* on paragraph add modal: icons larger */
ul.paragraphs-add-dialog-list input.field-add-more-submit {
  background-size: 32px 32px !important;
  padding-left: 50px !important;
}

/* make entity reference table loop more like a label */
.field-multiple-table thead > tr {
  border: none;
}
.field-multiple-table thead th {
  border: none;
  padding-left: 0;
  text-transform: none;
  background: transparent;
}
.field-multiple-table tr {
  border: 1px solid #e6e4df;
}

/* make link field look more like a label with inline inputs */
.field--type-link fieldset {
  padding: 0 !important;
  border: none;
  background: transparent !important;
}
.field--type-link fieldset:not(.fieldgroup) > legend {
  border: none;
  padding-left: 0;
  text-transform: none;
  background: transparent;
  position: static;
  letter-spacing: inherit;
}
.field--type-link fieldset .form-item {
  width: 40%;
  margin-right: 5%;
  margin-top: 0;
  float: left;
}
.field--type-link fieldset .form-item label {
  font-weight: normal;
}

/* draggable table: add shadow to indicated dragged row */
tr.draggable {
  transition: box-shadow 0.3s ease-out;
}
tr.drag {
  box-shadow: 1px 0 0 0 #CCC, 0 1px 0 0 #CCC, 1px 1px 0 0 #CCC, 1px 0 0 0 #CCC inset, 0 1px 0 0 #CCC inset, 0 0 15px rgba(0,0,0,0.15)
}
/* draggable table: changed indicator */
tr.draggable td.field-multiple-drag,
tr.draggable td {
  position: relative;
}


/* hide row weight switch for users */
.tabledrag-toggle-weight-wrapper {
  display: none;
}

/* add more margin in between fields */
.layout-region-node-main > .form-wrapper + .form-wrapper,
.taxonomy-term-form > .form-wrapper + .form-wrapper  {
  margin-top: 2em !important;
}

/* no dropshadows, rounded corners on input */
input.form-autocomplete, input.form-text, input.form-tel, input.form-email, input.form-url, input.form-search, input.form-number, input.form-color, input.form-file, input.form-date, input.form-time, textarea.form-textarea {
  box-shadow: none !important;
  border-radius: 0 !important;
  border: 1px solid #b8b8b8 !important;
  background-color: white !important;
}
select {
  padding-top: .3em !important;
  padding-bottom: .3em !important;
  background-image: url(../../../../core/misc/icons/333333/caret-down.svg) !important;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-color: white !important;
}

.form-text:focus, .form-tel:focus, .form-email:focus, .form-url:focus, .form-search:focus, .form-number:focus, .form-color:focus, .form-file:focus, .form-textarea:focus, .form-date:focus, .form-time:focus {
  border-color: #40b6ff !important;
}
select:focus {
  border-color: #40b6ff !important;
  box-shadow: none !important;
  outline: none;
}
